* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Arsenal", sans-serif;
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: 1px;
    color: #080808;
    text-align: center;
}

.card-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    width: 550px;
    height: 300px;
    border: solid 0.5px rgb(125, 123, 123);
    margin: 30px;
}

.card-front {
    width: 100%;
    height: 100%;
    align-content: center;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

.card-back {
    width: 100%;
    height: 100%;
    align-content: center;
}

.contact {
    margin-top: 54.02px;
}

p {
    font-size: 14px;
}

.address p {
    color: dimgrey;
}

img {
    padding-top: 141px;
    width: 100%;
}

h4,
h5 {
    font-weight: 550;
    letter-spacing: 1.8px;
}